@import 'lib/scss/_variables.scss';

.fullwidth-image{

    position: relative;
    padding: 0;
    height: 400px;

    display: block;
    z-index: 5;

    image{
        object-fit: cover;

    }
    
}

.noon-rotate-image {
    img {
        transform: rotate(180deg);
    }
}

.is-vertically-aligned-center {
    align-self: center;
}
.is-vertically-aligned-top {
    align-self: flex-start;
}
.is-vertically-aligned-bottom {
    align-self: flex-end;
}

.image_overlap_bg {
    background-color: $primary-65;
    background-color: $primary-5;
    ::selection {
        background-color: $accent;
        color: $primary;
    }
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;

    @include media-breakpoint-down(lg) {
        top: -100px;
    }

    &::before{
        content: '';
        left: -1000%;
        right: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        background-color: inherit;
        z-index: -1;
    }

    &::after{
        content: '';
        left: 0;
        right: -1000%;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        background-color: inherit;
        z-index: -1;
    }

}

div.image_bg_z {
    z-index: 2;
    position: relative;
    padding: 140px 0;

    @include media-breakpoint-down(lg) {
        padding: 50px 0 100px 0;
    }

}

.textContent{
    padding-top: 40px;
    padding-bottom: 40px;
    a {
        color: $white !important;
    }

    &.true{
        padding-top: 0;
        padding-bottom: 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li{
            line-height: 1.4;
            margin-bottom: 0.75rem;
        }
    }
}

.halfPageImage{
    &.right{
        span{
            @include media-breakpoint-up(md) {
                span {
                    margin-right: calc(-36vw + 50%) !important;
                    max-width: 100vw !important;
                }
            }
        }
    }
    &.left{
        span{
            @include media-breakpoint-up(md) {
                margin-left: calc(-36vw + 50%) !important;
                max-width: 100vw !important;
            }
        }
    }
    span{
        @include media-breakpoint-down(md) {
            margin-left: calc(-50vw + 50%) !important;
            margin-right: calc(-50vw + 50%) !important;
            max-width: 100vw !important;
        }
    }
}
