@import 'lib/scss/_variables.scss';

.group-title{
    text-transform: uppercase;
    font-size: 16px;
    font-size: 1rem;
    font-weight: $fw-bold;
    margin-bottom: 2rem;
    letter-spacing: 0.25px;

    @include pseudo-line();
}

.group-title.standard{
    text-transform: uppercase;
    font-size: 16px;
    font-size: 1rem;
    font-weight: $fw-bold;
    margin-bottom: 2rem;
    letter-spacing: 0.25px;
}

.group-intro{
    margin-top: 2rem;
    a{
        text-decoration: none;
        @include add-arrow( '\f0a9', 900);   
    }
}

:global(.wrapper){
    .swiper{
        background-color: red;
    }
}

.image-cover-fit {
    span {
        img {
            object-fit: cover !important;
        }
    }
}

.p-large{
    padding-top: $group_large_padding_top;
    padding-bottom: $group_large_padding_bottom;
}


