@import 'lib/scss/_variables.scss';

.Noonlogo__Block {
    .group-title{

        text-transform: uppercase;
        font-size: 16px;
        font-size: 1rem;
        font-weight: $fw-bold;
        margin-bottom: 2rem;
        letter-spacing: 0.25px;
    
        &::before{
    
            content: '—  ';
            color: $accent;
    
        }
    }
    
    .group-heading{

        text-transform: uppercase;
        font-size: 2rem;
        font-weight: $fw-bold;
        margin-bottom: 2rem;
        letter-spacing: 0.25px;
        color: $accent !important;
        max-width: 40%;
        @include media-breakpoint-down(xl) { 
            max-width: 60%; 
        }
        @include media-breakpoint-down(lg) { 
            max-width: 100%; 
        }
    }

    .logo-wrapper {
        text-align: center;
        .logo-image {
            height: 52px;
            width: 164px;
            display: inline-block;
            margin: 10px;
            position: relative;
            flex: 1 0 0%;

            @media (max-width: 425px) { 
                margin: -3px 7px 7px;
            }
        }
    }
}

.group-intro{

    font-size: 24px;
    font-size: 1.5rem;

}
:global(.wrapper){

    .swiper{
        background-color: red;
    }

}