.fullwidth-image{

    position: relative;
    padding: 0;
    height: 400px;
    display: block;

    image{
        object-fit: cover;
        
    }
    
}

.div-image-wrapper {

    position: relative;
    margin-bottom: 1rem;

    @media (max-width: 991.98px) {
        margin-top: 1rem;
    }

    img{
        object-fit: cover;
    }

}
.div-img-wrapper {

    position: relative;
    height: 250px;

    @media (max-width: 991.98px) {
        margin-top: 1rem;
    }

    img{
        object-fit: cover;
    }

}