@import "../../lib/scss/variables";

.noonStyled{

    list-style-type: none;
    padding-left: 0;
    max-width: 500px;;

    li {
        
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        position:relative;

        &:before {
            font-family: 'Font Awesome 5 Pro';
            font-weight: 900;
            content: '\f058';
            padding-right: 15px;
            color: $accent;
        }

        &:after {

            content: '';
            height: 0.5px;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

        }

        &:last-of-type:after {

            height: 0;

        }

    }



}

.noonStyledHideTick{

    li:before{

        content: none !important;

    }
    li{

        list-style-type: none;

    }
    
}


@for $i from 2 to 6 {
	.list--#{$i}-columns {
		columns: auto #{$i};
        column-gap: 60px;

	}
}

.list--2-columns,
.list--3-columns,
.list--4-columns,
.list--5-columns {
	li {
		page-break-inside: avoid;
		break-inside: avoid;

        &::after {
            @include media-breakpoint-up(sm) {
                content: none;
            }
        }

	}
}

.list--mobile-collapse{
    @include media-breakpoint-down(sm) {
        columns: 1;
    }
}
