@import 'lib/scss/_variables.scss';

.group-title.standard{

    @include pseudo-line();
    
}

.group-title.large{

    font-size: 32px;
    font-size: 2rem;

}

.group-intro{

    font-size: 24px;
    font-size: 1.5rem;

}
:global(.wrapper){

    .swiper{
        background-color: red;
    }

}