@import 'lib/scss/_variables.scss';

.accordion-item{

    position: relative;
    border-radius: 0;
    border: 0px;
    margin-bottom: 1px;
    background-color: transparent;
    
    &:first-of-type{
        border-radius: 0;
    }
    &:last-of-type{
        border-radius: 0;
    }

    &:after {
        background-color: $primary;
        content: '';
        height: 0.5px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

    }

    &::after {
        content: none;
    }
    
    .accordion-header{
        overflow-wrap: break-word;
        padding-left: .5rem;
        padding-right: .5rem;

        .accordion-button, .accordion-button:not(.collapsed){

            border-radius: 0;
            padding: 1rem 0rem;
            font-size: inherit;
            font-weight: inherit;
            color: $primary;
            background-color: transparent;
            border-color: transparent;
            box-shadow: none;

            &:first-of-type{
                border-radius: 0;
            }

            &:last-of-type{
                border-radius: 0;
            }

            &::after{


            }

        }

    }

    &.addNumbers {

        .accordion-body{

            padding-left: 0;
            padding-right: 0;

            @include media-breakpoint-up(md){

                padding-left: 38px;
                padding-right: 38px;

            }
        }

    }

    .accordion-body{

        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0;

        p{
            color: $primary-65;
            // color: $white;
            margin-bottom: 0.5rem;
        }

    }

    @each $key, $grid in $grid-breakpoints {

        &.breakpoint-#{$key}:after {

            @include media-breakpoint-up(#{$key}){

                height: 0;

            }

        }

    
    }

}

.with-images {

    border: none;
    .accordion-header button, .accordion-header {
        font-size: 1.8rem;
        background: none;
        color: $accent;
        font-weight: 600;
        padding-left: 0 !important;
        padding-right: 0 !important;
        box-shadow: none;
    }

    .accordion-body {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.125rem;
        font-weight: 300;
        //padding: 0;  Removed as broken on homepage
        a {
            font-weight: 400;
            font-size: 1rem;
            text-decoration: none;
            display: inline-block;
            position: relative;
              
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2.5px;
                bottom: -2.5px;
                left: 0;
                background-color: $accent;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
              }
        
              &:hover:after {
                transform: scale3d(1, 1, 1);
                // transform: scaleX(1);
                transform-origin: bottom left;
              }
        }
    }
}

.accordian_image_wrapper{
    display: inline-flex; 

    // opacity: 1;
	// animation-name: fadeInOpacity;
	// animation-iteration-count: 1;
	// animation-timing-function: ease-in;
	// animation-duration: 2s;

    &.even{
        .accordian_images {
            &:first-of-type {
            margin-top: -50px;

                @include media-breakpoint-down(lg){
                    margin-top: 0;            
                }

            }

            &:last-of-type {
                @include media-breakpoint-down(lg){
                    display: none;
                }
            }
        }
    }

    &.odd{
        .accordian_images {


            &:last-of-type {
                margin-top: -50px;
                @include media-breakpoint-down(lg){
                    display: none;
                }
            }
        }
    }

    @keyframes fadeInRight {
        from {
          opacity: 0;
          transform: translate3d(100%, 0, 0);
        }
      
        to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    
    .accordian_images {
        flex: 1 0 0;
        height: 350px;
        width: 300px;
        justify-content: center;
        display: inline-grid;
        margin: 30px;
        position: relative;
        
        animation-duration: 1s;
        animation-fill-mode: both;

        @include media-breakpoint-down(lg){
            margin: 15px;
        }

        &:first-of-type {
            animation-name: fadeInUp;
            animation-delay: 0.25s;

        }
        &:last-of-type {
            animation-name: fadeInRight;

        }

        // margin: 0 10px;
        // display: inline-grid;
        // justify-content: center;
        // position: relative;
        // // width: 500px;
        // max-width: 50% !important;
        // overflow:hidden;
        // // height: 150px;
        // height: auto;
        // // float:left;
        // flex: 1 0 0%;

 
        img {
            transform: scale(1);
            position: absolute;
            object-fit: cover;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: auto;
            z-index: 1;
            max-width: none !important;
        }
    }

    @include media-breakpoint-down(md) {
        display: none;
    }

}

.number{

    color: $accent;
    margin-right: 0.5rem;
    font-weight: $fw-bold;
    font-size: 1rem;
    
}

