@import 'lib/scss/_variables.scss';

.fullwidth-image{

    position: relative;
    padding: 0;
    height: 400px;
    display: block;

    image{
        object-fit: cover;
    }
    
}

.NoonHeader__Block {
    margin-bottom: 75px;
    min-height: 400px;
    padding-top: 4.5rem;
    padding-bottom: 4rem;

    @include media-breakpoint-down(xl) {
        margin-bottom: 100px !important;
    }

    .text_wrapper {
        margin-top: 125px;


        @include media-breakpoint-up(xl) {
            margin-top: 180px;
            margin-bottom: 50px;

        }

        h2 {
            margin-top: 1rem;
            margin-bottom: 0.5rem;

            &:first-of-type {
                color: white;
                margin-top: 0;
            }
            
        }
        h1 {
            color: $accent;

        }
        h1::selection {
            background-color: $primary-5;
            color: $primary;
        }

        p.subhead{
            margin-bottom: 0.5rem;
        }

    }
    
    .image_wrapper {
        position: relative;
        margin-bottom: -50px;
        margin-top: 1.5rem;
        height: 100%;
        width: 100%;
        display: inline-block;
        @include media-breakpoint-down(lg) {
            margin-bottom: 75px;
        }

        span {
            @include media-breakpoint-up(xl) {
                overflow: visible !important;
                margin-bottom: -100px !important;
            }
            @include media-breakpoint-down(xl) {
                margin-bottom: -100px !important;
            }
            @include media-breakpoint-down(lg) {
                margin-bottom: -150px !important;
            }

            img {
                min-height: 475px !important;
                margin-top: 0 !important;
                @include media-breakpoint-up(lg) {
                    margin-top: 75px !important;
                }
                @include media-breakpoint-up(xl) {
                    margin-top: 100px !important;
                }
            }
        }
    }
}
