@import 'lib/scss/_variables.scss';

.wrapper{

    
    .content{

        background-color: $primary;
        color: $white;
        ::selection {
            background-color: $primary-5;
            color: $primary;
        }
        position: relative;
        padding-top: 6rem;
        padding-bottom: 5rem;
        z-index: 2;
        margin-top: -2px;

        h1{

            &::before{
                color: $accent;
            }

        }
        .col-services {
            ul {
                padding-left: 0;
                li {
                    list-style-type: none;
                }
            } 
        }
    }
}