@import 'lib/scss/_variables.scss';

.wrapper{
    
    .content{

        background-color: $primary-5;
        ::selection {
            background-color: $accent;
            color: $primary;
        }
        color: $white;
        position: relative;
        padding-top: 6rem;
        padding-bottom: 5rem;
        z-index: 2;
        margin-top: -2px;
        
        .col-partners {
            color: $primary;
        }

        h3{
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $primary;

            &::before{

                color: $accent;
                content: '';

            }

        }
        h4{
            font-size: 2rem;
            letter-spacing: 1px;
            color: $primary;
        }
        p{
            font-size: 2rem;
            letter-spacing: 1px;
            color: $primary;
            font-weight: 700;
            color: $accent;
        }

        img {
            max-height: 69px;
            width: 100%;
            height: auto;
            object-fit: scale-down;
            z-index: -1;
            opacity: 1;

        }

    }

}