@import 'lib/scss/_variables.scss';

.wrapper{
    background-color: $primary-5 !important;
    color: $primary;
    .icon-row {
        justify-content: center !important;
        margin-right: auto;
        margin-left: auto;
    }
    .content{
        position: relative;
        padding-top: 6rem;
        padding-bottom: 5rem;
        @include media-breakpoint-down(lg) {
            padding-top: 3rem;
        }
        z-index: 2;
        margin-top: -2px;
        .col-projects {
            max-width: 60%;
            
        }
        .col-project {
            position: relative;
            height: 125px;            
            @include media-breakpoint-down(xxl) {
                height: 110px;           
            }
            @include media-breakpoint-down(xl) {
                height: 100px;           
            }
            img {
                object-fit: contain;
                padding: 1rem !important;
                max-width: -webkit-fill-available;
                max-height: 65px;
                margin: 0 auto;
                display: block;
                @include media-breakpoint-down(md) {
                    margin: 15px auto;
                    max-height: 30px;
                }
            }
        }

        @include media-breakpoint-up(md) {
            .col-lg-2point4 {
                flex: 0 0 auto;
                width: 25%;
                
            }
        }
    }
    .text-wrapper {
        margin-bottom: 2rem;
    }
    .partner-logo {
        position: relative;
        height: 100%;
    }
}