@import 'lib/scss/_variables.scss';

.wrapper{
    
    .work{
        margin-bottom: 5rem;
        @include media-breakpoint-down(lg) {
            margin-top: 0.5rem;
            margin-bottom: 3rem;
        }
    }

    .content{

        background-color: $primary;
        color: $white;
        ::selection {
            background-color: $primary-5;
            color: $primary;
        }
        position: relative;
        padding-top: 6rem;
        @include media-breakpoint-down(lg) {
            padding-top: 3rem;
            padding-bottom: 0rem;
        }
        z-index: 2;
        margin-top: -2px;

        .colprojects {
            max-width: 100%;
            margin: auto;
            
            @include media-breakpoint-up(sm) {
               // padding-left: 2.5rem;
                max-width: 460px;
            }
            @include media-breakpoint-up(md) {
                max-width: 620px;

            }
            @include media-breakpoint-up(lg) {
               max-width: 860px;
            }

            @include media-breakpoint-up(xl) {
                 max-width: 1240px;
            }

            .colproject {
                @include media-breakpoint-down(lg) {
                    margin-bottom: 3rem;
                }
                @include media-breakpoint-down(md) {
                    padding-left: 0;
                    padding-right: 0;
                }
                    .wrapper { // Wrapper of each individual projects
                        pointer-events: none;
                        
                        .content{
                        pointer-events: auto; 
                
                        background-color: $primary;
                        color: $white;
                        ::selection {
                            background-color: $primary-5;
                            color: $primary;
                        }
                        position: relative;
                        z-index: 2;

                
                        @include media-breakpoint-down(lg) {
                            padding-top: 0rem; //was, might need unsetting
                            margin-top: 0;
                            margin-bottom: 0;
                        }

                        .text_wrapper {
                            z-index: 5;
                            position: absolute;
                            left: 0rem;
                            right: 25px;
                            top: 75px;
                            text-shadow: 1px 1px 10px $primary;
                            pointer-events: none; 

                            @include media-breakpoint-up(xl) {
                                right: 100px;
                            }

                            a{
                                color: $white;
                                pointer-events: auto;
                            }
                            .dash_colour {
                                @include pseudo-line( $line_before_color, $line_before_height, $line_before_length, 0 );
                            }
                
                        }
                
                        .img_wrapper {

                            overflow: hidden;
                            max-height: 300px;
                            @include media-breakpoint-up(lg) {
                                max-height: 500px;
                            }

                            ::selection {
                                background-color: $accent;
                                color: $primary;
                            }


                
                            img {
                                width: 100%;
                                min-height: 300px;
                                @include media-breakpoint-up(lg) {
                                    min-height: 500px;
                                }
                                object-fit: cover;
                                z-index: -1;
                                opacity: 0.6;

                            }
                        
                            span {
                                width: 100% !important;
                            }
                
                        }

                        img {
                            transition: all .25s ease-in-out;
                            -moz-transition: all .25s ease-in-out;
                            -webkit-transition: all .25s  ease-in-out;
                        }
                        .text_wrapper {
                            transition: all .25s ease-in-out;
                            -moz-transition: all .25s ease-in-out;
                            -webkit-transition: all .25s  ease-in-out;
                        }
                        &:hover {

                            img {
                                opacity: 0.4;
                                transition: all .25s ease-in-out;
                                -moz-transition: all .25s ease-in-out;
                                -webkit-transition: all .25s  ease-in-out;
                            }

                            .text_wrapper {
                                top: 100px;
                                transition: all .25s ease-in-out;
                                -moz-transition: all .25s ease-in-out;
                                -webkit-transition: all .25s  ease-in-out;
                            }
                            
                        }

                        padding-left: 4rem;
                        padding-right: 4rem;
                        padding-top: 0rem;
                        margin-top: 0rem;
                        margin-bottom: 4rem;

                        @include media-breakpoint-down(xl) {
                            padding-right: 0rem;
                        }
                
                    }

                }

                &.even {
                    .wrapper{
                        .content{
                            padding-left: 4rem;
                            margin-top: 10rem;
                            margin-bottom: 4rem;
                            @include media-breakpoint-down(lg) {
                                padding-top: 0rem; //was, might need unsetting
                                margin-top: 0;
                                margin-bottom: 0;
                            }
                            .text_wrapper {

                                top: 250px;
                                animation-duration: 4s;
                                @include media-breakpoint-down(lg) {
                                    top: 75px;
                                    animation-duration: 4s;
                                }
                                .text-link {
                                    @include pseudo-line( $line_before_color, $line_before_height, 0, 0 );
                                }
                            }
                                        
                            &:hover {
                                .text_wrapper {
                                    top: 225px;
                                    animation-duration: 4s;
                                    @include media-breakpoint-down(lg) {
                                        top: 100px;
                                        animation-duration: 4s;
                                    }
                                    .text-link {
                                        @include pseudo-line( $line_before_color, $line_before_height, 10px, 10px );
                                    }
                                }
                            }
                        }
                    }
                }

                &.child {
                    margin-top: -10rem;
                    @include media-breakpoint-down(lg) {
                        margin-top: 0;
                    }
                
                    .wrapper {
                        margin-top: 4rem;

                        @include media-breakpoint-down(lg) {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}