@import 'lib/scss/_variables.scss';

.wrapper{
    ::selection {
        background-color: $accent;
        color: $primary;
    }

    &.primary-100 {
        ::selection {
            background-color: $primary-5;
            color: $primary;
        }
    }

    .title_wrapper{

        height: 60vh;
        position: relative;
        z-index: -1;
        @include media-breakpoint-up(md) {
            height: 65vh;
        }
        @include media-breakpoint-up(lg) {
            height: 80vh;
        }
        @include media-breakpoint-up(xl) {
            height: 90vh;
        }

        h1{
            position: fixed;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: $fw-bold;
            color: $white;
            font-size: 2.5rem;
            text-align: center;
            z-index: 1;
            top: 26vh;
            width: 100%;

            @include media-breakpoint-up(sm) {
                font-size: 3.5rem;
                max-width: 85%;
            }
            @include media-breakpoint-up(md) {
                font-size: 4.5rem;
                max-width: 70%;
            }
            @include media-breakpoint-up(lg) {
                font-size: 5.5rem;
                top: 35vh;
            }
            @include media-breakpoint-up(xl) {
                font-size: 7rem;
                max-width: 65%;
            }

        }

        .image_bg{
            position:absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba($primary, $alpha: 0.3);
            background-blend-mode: multiply;
            z-index: -2;
        }

        span{
            z-index: -3;
            img {
                object-fit: cover;
            }

        }

        svg{
            z-index: 1;
            position: absolute;
            bottom: 0;
            height: auto;
            left: 0;
            width: 100%;
        }

    }

    .content{

        background-color: $primary;
        color: $white;
        ::selection {
            background-color: $primary-5;
            color: $primary;
        }
        position: relative;
        padding-bottom: 2rem;
        z-index: 2;
        margin-top: -2px;

        padding-top: 50px;

        @include media-breakpoint-up(sm) {
            
            padding-top: 0;
            padding-bottom: 3rem;

        }

        h3{
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px;

        }
        .col-services {
            ul {
                padding-left: 0;
                line-height: 1.4;
                li {
                    list-style-type: none;
                    padding-bottom: 0.5rem;
                }
            } 
        }
    }
}

.col-services, .col-background, .col-client{

    margin-bottom: 15px;
}