@import 'lib/scss/_variables.scss';

.wrapper{

    background-color: $white;
    ::selection {
        background-color: $accent;
        color: $primary;
    }
    padding-bottom: 5rem;

    .spacer{

        height: 50px

    }

}