@import 'lib/scss/_variables.scss';

.wrapper{
    padding-left: 0;
    padding-right: 0;
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    width: 100vw;
    flex: 100vw;
    overflow-x:hidden;
    background-color: $white;
    ::selection {
        background-color: $accent;
        color: $primary;
    }
    padding-top: 4rem;
    padding-bottom: 2rem;
    z-index: 5555;

    @include media-breakpoint-up(sm) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    &.wrapper_first{
        padding-top: 5rem;
    }

    .mediaCont {

        .mediaCont_text {

            .textbg {
                background-color: $primary-5;
                color: $primary-95;
                ::selection {
                    background-color: $accent;
                    color: $primary;
                }
                padding-top: 100px;
                padding-bottom: 100px;
                padding-right: 0;
                max-width: 50vw;
                width: 100vw;
                overflow-x: hidden;
                margin-top: 100px;
                margin-bottom: 100px;

                    @include media-breakpoint-down(lg) { 
                        max-width: 100vw; 
                        background-color: $white;
                        margin-bottom: 50px;
                        ::selection {
                            background-color: $accent-7;
                            color: $primary;
                        }
                        padding-top: 0px;
                        padding-bottom: 0px;
                        margin-top: 0px;
                    }

                .textwrapper {
                    max-width: 500px;
                    margin-right: auto;
                    margin-left: auto;
                    padding-right: 2.5rem;
                    padding-left:  2.5rem;
                    @include media-breakpoint-down(xxl) { 
                        margin-right: 5rem;
                    }
                    @include media-breakpoint-down(xl) {
                        margin-left: 2.5rem;
                        margin-right: 2rem;
                    }
                    @include media-breakpoint-down(lg) {
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }
                }
            }
        }
        .mediaCont_image {
            padding-left: 0;
            padding-right: 0;
            max-width: 50vw;
            width: 100vw;
            flex: 100vw;
            overflow-x: hidden;
            min-height: 250px;
            margin: 0;
            @include media-breakpoint-down(lg) { 
                max-width: 100vw; 
                margin: 0 auto;
            }
        }
    }
}