@import 'lib/scss/_variables.scss';

.wrapper{
    padding-left: 0;
    padding-right: 0;
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    width: 100vw;
    flex: 100vw;
    overflow-x:hidden;
    background-color: $primary;
    ::selection {
        background-color: $primary-5;
        color: $primary;
    }
    padding-top: 5rem;
    padding-bottom: 5rem;
    z-index: 5555;

    .WorkQuote {
        color: $white;

        .WorkQuote_text {

            .textbg {
                color: $white;
                padding-top: 100px;
                padding-bottom: 100px;
                padding-right: 0;
                max-width: 50vw;
                width: 100vw;
                flex: 100vw;
                overflow-x: hidden;
                min-height: 300px;
                margin-top: 100px;
                margin-bottom: 100px;
                    @include media-breakpoint-up(md) { 
                        padding-left: 100px;
                    }
                    @include media-breakpoint-down(md) { 
                        max-width: 100vw; 
                        background-color: $white;
                        ::selection {
                            background-color: $accent-7;
                            color: $primary;
                        }
                        padding-top: 0px;
                        padding-bottom: 0px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                .textwrapper {
                    max-width: 750px;

                    @include media-breakpoint-down(md) { 
                        max-width: 80%; 
                        margin: 0 auto;
                    }
                }
            }

        }

    }
    .WorkQuote {
        .WorkQuote_text {
            text-align: center;
            .stats_quotemark {
                color: $accent;
                font-size: 5rem;
                line-height: 5rem;
                margin-bottom: -35px;
                font-weight: 700;
                margin-left: auto;
                margin-right: auto;
            }
            .stats_quote {
                color: $white;
                font-size: 1.5rem;
                line-height: 1.45;
                font-weight: 700;
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 0.5rem;
                max-width: 700px;
                @include media-breakpoint-down(lg) { 
                    font-size: 1.2rem;
                }
            }
            .stats_quotemark_2 {
                color: $accent;
                font-size: 5rem;
                line-height: 3rem;
                font-weight: 700;
                margin-left: auto;
                margin-right: auto;
            }
            .stats_name {
                color: $white;
                font-size: 1.1rem;
                font-weight: 700;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
            }
            .stats_title {
                color: $white;
                font-size: 1rem;
                font-weight: 100;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .content{

        h3{
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

    }

}