@import 'lib/scss/_variables.scss';



section.git {
    overflow: hidden;
    height: 165px;

    @include media-breakpoint-up(md) {
        height: 175px;
    }
    @include media-breakpoint-up(lg) {
        height: 250px;
    }

    position: relative;
    z-index: 1;
    background-color: $accent-80;
    color: color-contrast($accent-80);
    ::selection {
        background-color: $primary;
        color: $white;
    }

    cursor: pointer;
    

    &::before {

        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        background-color: $accent;
        -webkit-transform: skewX( 45deg) translateX(-130%);
        transform: skewX(45deg) translateX(-130%);
        -webkit-transition: -webkit-transform 1.4s cubic-bezier(0, 0.6, 0.2, 1);
        transition: -webkit-transform 1.4s cubic-bezier(0, 0.6, 0.2, 1);
        transition: transform 1.4s cubic-bezier(0, 0.6, 0.2, 1);
        transition: transform 1.4s cubic-bezier(0, 0.6, 0.2, 1), -webkit-transform 1.4s cubic-bezier(0, 0.6, 0.2, 1);
        will-change: transform;

    }

    &:hover::before {

        -webkit-transform: skewX( 30deg) translateX(-30%);
        transform: skewX(30deg) translateX(-30%);
        
    }

    .gitLink {

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-decoration: none;

    }

    .container {

        height: 100%;
        z-index: 2;
        .row{

            z-index: 2;

            padding-top: 2rem;
            padding-bottom: 1.5rem;
            height: 100%;

            @include media-breakpoint-up(md) {

                align-items: center;
                padding-top: 0;
                padding-bottom: 0;

            }

            .col {

                flex: 0 0 auto;
                width: 100%;

                @include media-breakpoint-down(md) {

                    &:nth-of-type(1){
                        align-self: end;
                    }

                    &:nth-of-type(2){
                        align-self: start;
                    }
            
                }

                @include media-breakpoint-up(md) {
                    flex: 1 0 0%;
                }

                z-index: 2;

                h2, span, p, a {
                    
                    color: $white;
                    margin-bottom: 0;

                }

                h2 {
                    margin-bottom: 0.5rem;

                    @include media-breakpoint-up(md) {
                        margin-bottom: 0;
                    }
                    
                    @include media-breakpoint-up(lg) {
                        font-size: 58px;
                        font-size: 3.625rem;
                        line-height: 1;
                    }
 
                }

                span.git_cta {

                    font-weight: $fw-medium;
                    font-size: 19.2px;
                    font-size: 1.2rem;

                    @include media-breakpoint-up(md) {
                        font-size: 21.6px;
                        font-size: 1.35rem;
                        float: right;
                    }

                    @include media-breakpoint-up(lg) {

                        font-size: 28px;
                        font-size: 1.75rem;

                    }

                }

            }

        }

    }

}

.footerWrapper {

    background-color: $primary;
    color: color-contrast($primary);
    ::selection {
        background-color: $primary-5 ;
        color: $primary ;
    }
    .col {

        @include media-breakpoint-down(sm) {

            flex: 0 0 auto;
            width: 100%;

        }

    }
    
    .row_left {

        justify-content: start;

        .col {

            max-width:100%;

            @include media-breakpoint-up(md){
                max-width:225px;
            }
            @include media-breakpoint-up(xl){
                max-width:250px;
            }

        }        

    }

    .row_right {

        justify-content: end;

        .col{
            max-width:100%;
        }

    }    
    
    .address.col {

        @include media-breakpoint-down(sm) {

            max-width: 50%;

            address {

                font-size: 0.75rem;
            }

        }

    }

    h4 {
        text-transform: uppercase;
        font-size: 12px;
        font-size: 0.75rem;
        margin-bottom: 0.75rem;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    address, p, a.email {
        
        color: $white70;
        font-weight: $fw-light;

    }
    
    .hm {

        @include media-breakpoint-down(lg) {

            display:none;

        }

    }

    .inner {

        padding-top: 3.5rem;
        padding-bottom: 6rem;
        @include media-breakpoint-down(lg) {
            padding-bottom: 2rem;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        a {
            font-size: 1.1rem;
            color: $primary-5;
            text-decoration: none;
            font-weight: $fw-light;
            margin-bottom: 0.5rem;
            display: inline-block;

            &.email {
                display:inline-block;
                position: relative;
                color: $white70;
                margin-bottom: 1rem;
                &:hover {
                    color: $white;
                    transition: 0.3s ease-in-out;
                }
            }

        }
        address {
            display:inline-block;
            position: relative;
            color: $white70;
            margin-bottom: 0rem ;
            &:hover {
                color: $white;
                transition: 0.3s ease-in-out;
            }
        }
    }
    
    .copyright{
        font-size: 0.85rem;
        padding-bottom: 0.75rem;
        color: $white70;
    }
}
