@import 'lib/scss/_variables.scss';

.back_to_top {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
    border-radius: 9999px;
    font-size: 1rem;
    background: $primary;
    color: white;
    cursor: pointer;
    border: none;
    transition-duration: 250ms;
    transition-property: background;

    @include media-breakpoint-down(sm) {
        bottom: 25px;
        right: 25px;
        font-size: 0.9rem;
    }
}

.back_to_top:hover {
    background: $accent;
}