@import 'lib/scss/_variables.scss';

.wrapper{
    padding-left: 0;
    padding-right: 0;
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    width: 100vw;
    flex: 100vw;
    overflow-x:hidden;
    background-color: $white;
    ::selection {
        background-color: $accent;
        color: $primary;
    }
    padding-top: 5rem;
    padding-bottom: 5rem;
    z-index: 5555;

    .colText {

        .colText_text {

            .textbg {
                background-color: $primary-5;
                color: $primary-95;
                ::selection {
                    background-color: $accent;
                    color: $primary;
                }
                padding-top: 100px;
                padding-bottom: 100px;
                padding-right: 0;

                max-width: 50vw;
                width: 100vw;
                flex: 100vw;
                overflow-x: hidden;
                min-height: 300px;
                margin-top: 100px;
                margin-bottom: 100px;
                    @include media-breakpoint-up(md) { 
                        padding-left: 100px;
                    }
                    @include media-breakpoint-down(md) { 
                        max-width: 100vw; 
                        background-color: $white;
                        ::selection {
                            background-color: $accent-7;
                            color: $primary;
                        }
                        padding-top: 0px;
                        padding-bottom: 0px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                .textwrapper {
                    max-width: 550px;
                    @include media-breakpoint-up(md) { 
                        
                    }
                    @include media-breakpoint-down(md) { 
                        max-width: 80%; 
                        margin: 0 auto;
                    }
                }
            }
        }
        .colText_image {
            padding-left: 0;
            padding-right: 0;

            max-width: 50vw;
            width: 100vw;
            flex: 100vw;
            overflow-x: hidden;
            min-height: 200px;
            margin: 0;
            @include media-breakpoint-down(md) { 
                max-width: 100vw; 
                margin: 0 auto;
            }
        }
    }


    .content{



        h3{
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px;

            &::before{

                color: $accent;
                content: ' – ';


            }

        }

    }

}