@import "../../lib/scss/variables";

.wrapper {
    background-color: $primary-5;
    ::selection {
        background-color: $accent;
        color: $primary;
    }
    .content {
   

        .col-full {
            padding-left: 0;
            padding-right: 0;
            margin-left: calc(-100vw / 2 + 100% / 2);
            margin-right: calc(-100vw / 2 + 100% / 2);
            max-width: 100vw;
            width: 100vw;
            flex: 100vw;
            overflow-x:hidden
        }   

        .image-side {

            position: relative;
            padding: 0;

            min-height: 200px;

            @include media-breakpoint-up(md) {
                min-height: 400px;
            }

            img {
                object-fit: cover;
                @include media-breakpoint-down(md) {
                    max-height: 10rem;
                }
            }
        }

        .text-side {
            color: $primary;
            display: flex;
            align-items: center;
            h2 {
                @include media-breakpoint-down(md) {
                    margin-bottom: 1.5rem;
                    margin-top: 1rem;
                }
            }
            h4 {
                margin-bottom: 2rem;
                @include media-breakpoint-down(md) {
                    margin-bottom: 1.5rem;
                }
            }
            a {
                text-decoration: none;
                &:link {
                    text-decoration: none;
                }
                &:visited {
                    text-decoration: none;
                }
                &:hover {
                    text-decoration: none;
                }
                &:active {
                    text-decoration: none;
                }
            }
        }

        .menu-box {

            margin-top: 8rem;
            margin-bottom: 8rem;
            padding-left: 3rem;
            padding-right: 3rem;
            max-width: 650px;

            @include media-breakpoint-down(lg) {
                width: 100%;
                max-width: 540px;
                padding-left: 1.5rem;
                padding-right: 2.5rem;
            }

            @include media-breakpoint-down(md) {
                margin: 4rem auto;
                width: 100%;
                max-width: 540px;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }

        }

    }

}