@import "../../lib/scss/variables";

//  the classes that add the little line to the left of the a tag when hovered
//  resting
//      @include pseudo-line( $line_before_color, $line_before_height, 0, 0 );
//  hover
//      @include pseudo-line( $line_before_color, $line_before_height, 10px, 10px );

.fullscreennav {

    position: fixed;
    z-index: 1090;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:$primary;
    visibility: hidden;

    .sr_only {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .noon_logo {
        fill: $white;
    }

    &.nav_open {

        visibility: visible; 
        animation-name: backInUp;
        animation-fill-mode: both;
        animation-iteration-count: 1;

        @media print, (prefers-reduced-motion: reduce) {

            animation-duration: 1ms;
            transition-duration: 1ms;
            animation-iteration-count: 1;
        
            &[class*='Out'] {
                opacity: 0;
            }

        }

        @keyframes backInUp {
            
            0% {
                // transform: translateY(1200px) scale(0.7);
                opacity: 0;
            }
          
            80% {
                // transform: translateY(0px) scale(0.7);
            }
          
            100% {
                // transform: scale(1);
                opacity: 1;
            }

        }

    }

    .content {

      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 1091;
      background-color: $primary;
      color: color-contrast($primary);
      ::selection {
        background-color: $primary-5;
        color: $primary;
    }
    
      will-change: transform;
      transition: transform 0.7s cubic-bezier(.91,.01,.6,.99);

        .row {

            height: 100%;

        }

        .top_container {

            max-height: calc( 100vh - 102.5px );
            overflow-x: hidden;

            .container {

                height: 100%;

                nav {

                    padding-top: 2rem;

                    @include media-breakpoint-up(md) {
                        padding-top: 10vh;
                    }
                }
                padding-top: 13px;

                .menu{

                    list-style: none;
                    padding-left: 0;
                    @include media-breakpoint-down(md) {
                        margin-bottom: 4rem;
                    }
                    

                    .menuItem {

                        position: relative;
                        color: color-contrast( $primary );
                        text-decoration: none;
                        font-weight: $fw-light;
                        line-height: 1.9;

                        &.active {

                            font-weight: $fw-bold;

                        }
                    }
                }
            }
        }
        .contact_banner {
            background-color: $primary-95;
            ::selection {
                background-color: $primary-5;
                color: $primary;
            }
            display: block;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 100px;
            padding-top: 20px;
            position: fixed;
            bottom: -70px;
            left: 0;
            right: 0;

            .container {

                height: 100%;

            }

            .col_phone {

                display: block;

                a {
                    
                    width: 100%;

                }
            }

            a.email, a.phone {

                position: relative;
                color: color-contrast( $primary );
                font-weight: $fw-medium;
                font-size: 22px;
                font-size: 1.375rem;
                letter-spacing: 0.55px;
                text-decoration: none;

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX( 0 );
                    height: 2.5px;
                    bottom: -2.5px;
                    left: 0;
                    background-color: $accent-80;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }
                  
                &:hover:after {
                    transform: scaleX( 1 );
                    transform-origin: bottom left;
                    opacity: 1;
                }
                                
            }

            h4{

                font-size: 12px;
                font-size: 0.75rem;
                text-transform: uppercase;
                margin-bottom: 2px;
                font-weight: $fw-light;
                letter-spacing: 0.6px;

            }

        }

    }

    .nav__title {
        display: inline-block;
        padding-top: 2px; // align with main website text
    }

}

.navbar-light {
    .nav__link {
        background-color: transparent ;
        z-index: 9999 ;
    }
}

.navbar-dark {
    .nav__link {
        background-color: white ;
    }
}

.navbar{

    // the navbar at the top when not hovered
    background-color: transparent;
    color: color-contrast( $primary );
    transition: all 0.2s;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;

    &.h_show {

        top: 0;
        background-color: $white;
        background-color: transparent;
        ::selection {
            background-color: $accent;
            color: $primary;
        }
        .noon_logo{
            fill: $primary;
            fill: $black;
        }

    }


    &.hidden {

        top: -100px;

    }

    &.mouseover {

        background-color: $white;

        .noon_logo { // Logo

            fill: $primary;

        }
        .nav__link { // i

            color: $primary;
        }

    }
    .col {
        width: 100%;
    }

}

.navbar {
    padding-top: 0;

    .noon_logo {
        position: absolute;
        fill: $accent; // todo sort the logo colour


    }

    .toggle__nav {

        background: $white;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        text-align: center;
        line-height: 56px;
        vertical-align: middle;
        -webkit-appearance: none;
        border-color:  $white;
        border-style: none;
        fill: black;
        color: black;

        &.blue {

            background: $primary;
            color: color-contrast( $primary );
        }
    }

    &.nav_scrolled {

        pointer-events: none; 

        .container {
            .row {
                .menu-trigger {
                    pointer-events: auto;
                }
            }
        }


        .noon_logo {

            opacity: 0;
            
        }

        .toggle__nav {

            background: $white;
            color: black;

        }
    }

    .col {
        width: 100%;
    }
}




.containerTop {

    padding-top: 2.5rem;
    padding-right: 0;

    .toggle__nav {

        background: $white;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        text-align: center;
        line-height: 56px;
        vertical-align: middle;
        -webkit-appearance: none;
        border-color:  $white;
        border-style: none;
        fill: black;
        color: black;

    }

    .col {
        width: 100%;
    }

    button {
        float: right;
    }
}

.width100 {
    width: 100%;
    @include media-breakpoint-down( md ) {
        padding-right: 0;
    }
    
}
.pagenavbartop {
    padding-left: 0;
    @include media-breakpoint-down( md ) {
        padding-left: 40px;
    }
}

.rowTop{
    @include media-breakpoint-up( md ) {
        margin-right: 0;
        margin-left: 0;
    }
    width: 100%;
}

.noon_logo {
    max-width: 100px;
    fill: color-contrast( $primary );
}

.fullscreennav {
    .containerTop {
        padding-right: var( --bs-gutter-x, 2.5rem );
        padding-left: var( --bs-gutter-x, 2.5rem );
    }
}

.text_replace {
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
}

.cd_nav_trigger {
    position: fixed;
    z-index: 3;
    top: 20px;
    right: 1.25em;
    height: 54px;
    width: 54px;
    background-color: hsl(214, 28%, 20%);
    border-radius: 50%;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.cd_nav_trigger:active .cd_nav_trigger__icon {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.cd_nav_trigger svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.cd_nav_trigger circle {
    stroke: hsl(213, 9%, 44%);
    // stroke: var(--cd-color-3);
    transition: stroke-dashoffset 0.4s;
}
@media (min-width: 80rem) {
    .cd_nav_trigger {
    }
}
.nav-is-open .cd_nav_trigger {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.nav-is-open .cd_nav_trigger circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.4s 0.3s;
}
.cd_nav_trigger__icon {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 11px);
    width: 22px;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
    background-color: var($white);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.cd_nav_trigger__icon::before,
.cd_nav_trigger__icon:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    will-change: transform, width, top;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: width 0.5s, top 0.3s, -webkit-transform 0.5s;
    transition: transform 0.5s, width 0.5s, top 0.3s;
    transition: transform 0.5s, width 0.5s, top 0.3s, -webkit-transform 0.5s;
}
.cd_nav_trigger__icon::before {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}
.cd_nav_trigger__icon::after {
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}
.nav-is-open .cd_nav_trigger__icon::before,
.nav-is-open .cd_nav_trigger__icon::after {
    width: 50%;
}
.nav-is-open .cd_nav_trigger__icon::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-is-open .cd_nav_trigger__icon::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.nav-is-open .cd_nav_trigger:hover .cd_nav_trigger__icon::before,
.nav-is-open .cd_nav_trigger:hover .cd_nav_trigger__icon::after {
    top: 0;
}

.cd_main {
    overflow: hidden;
  }
  
  .cd_main__content {
      position: relative;
      z-index: 2;
    background-color: $primary;
  
    will-change: transform;
    transition: transform 0.7s cubic-bezier(.91,.01,.6,.99);
  }
  
  .nav_is_open .cd_main__content {
    transform: translateX(-100%);
  }
  
  
    .cd_nav {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $accent;
        visibility: hidden;
      transition: visibility 0.7s;
  
      a {
        text-decoration: none;
      }
    }
  
    .cd_nav__title {
        position: relative;
        font-weight: 600;
        color: $white70;
        text-transform: uppercase;
        letter-spacing: 0.15em;
    
        &::after { // bottom separation line
            content: '';
            position: absolute;
            left: 0;
            bottom: -20px;
            height: 1px;
            width: 60px;
            background-color: currentColor;
        }
    }
  
    .nav_is_open .cd_nav {
      visibility: visible;
    }
  
    .cd_nav__content { // all navigation content
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding: var(--space-lg) 0 var(--space-lg) 80px;
    
        will-change: transform;  
        transform: translateX(-50%);
        transition: transform 0.7s cubic-bezier(.86,.01,.77,.78);
    }
  
    .nav_is_open .cd_nav__content {
        transform: translateX(0);
        transition: transform 0.5s cubic-bezier(.82,.01,.77,.78);
    }
  
    .cd_nav__primary {
        margin-top: var(--space-xl);
  
        li {
            margin-bottom: var(--space-md);
        }
    }
  
    .cd_nav__link {
        color: $white70;
    }
  
    .menu__link:hover, .menu__link-selected {
        color: var($white);
    }
  
    .cd_nav__contact {
    
        li {
            margin-bottom: var(--space-md);
            color: $white70;
        }
    
        a {
            color: var($white);
        }
    

        text-align: right;

    }
  
    
    .cd_nav_trigger {
        position: fixed;
        z-index: 3;
        top: 20px;
        right: 1.25em;
        height: 54px;
        width: 54px;
        background-color: $accent;
        border-radius: 50%;
        transition: transform 0.5s;
    
        &:active .cd_nav_trigger__icon {
        transform: scale(0.9);
        }
    
        svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        }
    
        circle {
            stroke: hsl(213, 9%, 44%);
        transition: stroke-dashoffset 0.4s; // circle border animation
        }

    }
  
    .nav_is_open .cd_nav_trigger {
        transform: rotate(180deg); // rotate trigger when navigation becomes visible
    
        circle {
        stroke-dashoffset: 0; // animate circle stroke
        transition: stroke-dashoffset 0.4s 0.3s;
        }
    }
    
    .cd_nav_trigger__icon { // menu icon created in CSS
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 11px);
        width: 22px;
        height: 2px;
        background-color: var($white);
        transition: transform 0.3s;
    
        &::before, &:after { // upper and lower lines of the menu icon
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%; 
        background-color: inherit;
    
        will-change: transform, width, top;
        backface-visibility: hidden;
        transition: transform 0.5s, width 0.5s, top .3s;
        }
    
        &::before {
        transform-origin: right top;
        transform: translateY(-6px);
        }
    
        &::after {
        transform-origin: right bottom;
        transform: translateY(6px);
        }
    }
    
    .nav_is_open .cd_nav_trigger__icon::before,
    .nav_is_open .cd_nav_trigger__icon::after { // animate arrow --> from menu to arrow
        width: 50%;
    }
    
    .nav_is_open .cd_nav_trigger__icon::before {
        transform: rotate(45deg);
    }
    
    .nav_is_open .cd_nav_trigger__icon::after {
        transform: rotate(_45deg);
    }
    
    .nav_is_open .cd_nav_trigger:hover .cd_nav_trigger__icon::before,
    .nav_is_open .cd_nav_trigger:hover .cd_nav_trigger__icon::after {
        top: 0;
    }

    .cd_main__content {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        h1 {
        color: $accent;
        }
    
        p {
        color: $primary;
        }
    }
  
  .cd_article_link {
        color: $accent;
        transition: opacity .2s;
    
        &:hover {
             opacity: 0.8;
        }
  }

