// Defaults
li::after {
  background-color: rgba($primary, 0.5);
}


// Overrides
@each $key, $color in $colors {

    .#{$key} {

      background-color: $color !important;
      color: color-contrast( $color );

      li::after{
        background-color: rgba( color-contrast( $color ), 0.5 );
      }

      a{
        color: color-contrast( $color );
      }
      

      .swiper-scrollbar{
          background: rgba( color-contrast( $color ), 0.1 );

          .swiper-scrollbar-drag{

            background: rgba( color-contrast( $color ), 0.5 );

          }

      }

    }

    .text-#{$key}, .has-#{$key}-color{
        color: $color !important;

        a{ 
          color: $color;
        }

    }

}