@function set-text-color($color) {
    @if (lightness( $color ) > 50) {
      @return cyan; // Lighter color, return black
    }
    @else {
      @return hotpink; // Darker color, return white
    }
}