@mixin pseudo-line( $color: $line_before_color, $height: $line_before_height, $length: $line_before_length, $margin: $line_before_margin ) {
    &::before{
        background-color: $color;
        content: "";
        display: inline-block;
        height: $height;
        position: relative;
        vertical-align: middle;
        width: $length;
        margin-right: $margin;
        margin-top: ( $height ) * -1;
        transition: ease 0.2s;
    }
}

@mixin add-arrow( $content: '\f061', $weight: 100, $position: 'after',  $color: null ) {

    @if( $position == 'after' ){

        &::after{
            font-family: 'Font Awesome 5 Pro';
            content: $content;
            font-weight: $weight;
            margin-left: 0.75rem;

            @if( $color ){
                color: $color;
            }

        }

    } @else {

        &::before{
            font-family: 'Font Awesome 5 Pro';
            content: $content;
            font-weight: $weight;
            margin-left: 0.75rem;

            @if( $color ){
                color: $color;
            }

        }

    }

}
