$primary: #02182B;
    $primary-95: #0e2335;
    $primary-65: #5D6874;
    $primary-5: #eeeff1;
    // $primary-25: #eeeff1; 

$accent: #ED5C5A;
    $accent-80: #F17C7A;
    $accent-7: #FEF4F4;
$white: #FDFFFC;
$white70: #FDFFFCC0;

$ladybird-orange: #D83D15;
$ladybird-white: #E5EBE9;
$ladybird-red: #BF3741;


// Map
$colors: (
    'primary-100': $primary,
    'primary-95': $primary-95,
    'primary-65': $primary-65,
    'primary-5': $primary-5,

    'accent-100': $accent,
    'accent-80': $accent-80,
    'accent-7': $accent-7,

    'white': $white,

);



// Fonts 
$font-family-base: 'niveau-grotesk', san-serif;
$font-family-sans-serif: 'niveau-grotesk', san-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$font-weight-base: $fw-light;
$body-color: $primary;
$color-contrast-dark: $primary;
$font-weight-bolder: $fw-bold;
$line_before_color: $accent;


// Line 
$line_before_length: 24px;
$line_before_margin: 10px;
$short_line_before_length: 5px;
$line_before_height: 2px;

// Overrides 
$grid-breakpoints:(
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1500px
)!default;
    
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1440px
) !default;


$grid-gutter-width: 5rem;

// Groups 
$group_large_padding: 6rem;
$group_large_padding_top: $group_large_padding;
$group_large_padding_bottom: $group_large_padding;

$group_standard_padding: 4rem;
$group_standard_padding_top: $group_standard_padding;
$group_standard_padding_bottom: $group_standard_padding;

// Colours 


// scss-docs-end colors-map

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "accent":  $accent,
  "white":  $white,
);


// Buttons

$border-radius: 15px;
$border-radius-sm: 15px;
$border-radius-lg: 15px;
$btn-font-weight: $fw-medium;

$input-btn-padding-y: 0.75rem;

$mark-padding:0;

// Typeography

    // Base 
    $font-size-base:  1.1rem;
    $lead-font-size: $font-size-base * 1.35;
    $font-size-intro: $font-size-base * 1.1;

    // Heading
    $h1-font-size: $font-size-base * 3;
    $h2-font-size: $font-size-base * 2.25;
    $h3-font-size: $font-size-base * 1.75;
    $h4-font-size: $font-size-base * 1.75;
    $h5-font-size: $lead-font-size;
    $h6-font-size: $font-size-base * 0.9;   

    $headings-font-weight: 600;


// Bootstrap 
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';


@import 'functions';
@import 'mixins';


// color-contrast($background, $color-contrast-dark, $color-contrast-light, $min-contrast-ratio );

