@import "./lib/scss/variables";

:focus {
  outline: $accent solid 4px !important;
  outline-offset: 20px;
  box-shadow: none !important;
  border: none;
  transition: none !important;
}

/* When mouse is detected, ALL focused elements have outline removed. */
body.using-mouse :focus {
  outline: none !important;
}

.swiper{
  margin: 15px auto;
  padding-bottom: 15px;
}

p:empty{
  margin-bottom: 0;
}

.image-cover-fit {
    span {
        img {
            object-fit: cover !important;
        }
    }
}

