@import "./lib/scss/variables";
@import "navigation/navigation";
@import "navigation/navigationv3";


body {
    overflow-x: hidden;

    // ::-moz-selection { /* Code for Firefox */
    //     background: $accent;
    //   }
      
    ::selection {
        background-color: $accent;
        color: $primary;
    }

    
    .backToTop {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.3s, opacity 0.3s linear;
    }

    &.nav_is_open {
        overflow: hidden;
        .backToTop {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.3s, opacity 0.3s linear;
        }
        .menu {
            .navbar {
                .navbar-brand {
                    flex-direction: column;
                    svg {
                        fill: $accent;
                    }
                }
            }
        }
    }
}

.h-noon-menu {
   // height: 60% !important;
}

.wrapper{

    padding-top: 3rem;
    padding-top: 4.375rem;
    padding-bottom: 2rem;
    &.primary-100 {
        ::selection {
            background-color: $primary-5;
            color: $primary;
        }
        *[class^='NoonHeaderImageBlock'] {
            ::selection {
                background-color: $accent !important;
                color: $primary !important;
            }
        }
        *[class^='mb_'] {
            ::selection {
                background-color: $accent !important;
                color: $primary !important;
            }
        }
    }
    &.primary-95 {
        ::selection {
            background-color: $primary-5;
            color: $primary;
        }
        *[class^='CoreImageBlock_di'] {
            ::selection {
                background-color: $accent;
                color: $primary;
            }
        }
        *[class^='mb_'] {
            ::selection {
                background-color: $accent;
                color: $primary;
            }
        }
    }
}

*[class^='accordionorange_'] {
    ::selection {
        background-color: $primary;
        color: $white;
    }
    .swiper {
    ::selection {
        background-color: $accent;
        color: $primary;
        }
    }
}

*[class^='accordionwhite_'] {
    ::selection {
        background-color: $accent;
        color: $primary;
    }
}

*[class^='accordionred_'] {
    ::selection {
        background-color: $primary;
        color: $white;
    }
    .swiper {
    ::selection {
        background-color: $accent;
        color: $primary;
    }
    }
}


p {

    max-width: 500px;
    line-height: 1.6;

    &.intro{

        font-size: $font-size-intro;
        font-weight: $font-weight-light;


    }
}

h4, .h4{
    font-weight: $font-weight-light;
}

h6, .h6{
    text-transform: uppercase;
    letter-spacing: 0.031rem;
    margin-bottom: 1rem;
}

.has-pseudo-line{
    @include pseudo-line();
}

.lead{
    line-height: 1.4;
}

.subhead{
    font-weight: 400;
    font-size: 1.4rem;
}

p.inline-logo{

    font-weight: $font-weight-bold;
    font-size: $font-size-base * 2.25;

    &::before{

        content: "●";
        color: $accent;
        position: relative;
        display: inline-block

    }

}

.accent-text {
    color: $accent;
    font-size: 1.1rem;
    font-weight: 700;
    a {
        color: $accent;
        font-size: 1.1rem !important;
        font-weight: 700 !important;
    }
}

h2,h3,h4,h5,h6{
    max-width: 550px;
}

//Page Header

.h6.page-links a{
    text-decoration: none;
    padding: 0px 3px 5px 3px;
    margin: 0px 5px;
    display: inline-block;
    position: relative;
      
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2.5px;
        bottom: -2.5px;
        left: 0;
        background-color: $accent;
        ::selection {
            background-color: $accent;
            color: $primary;
        }
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
      
    &:hover:after {
        // transform: scaleX(1);
        transform: scale3d(1, 1, 1);
        color: $accent;
        transform-origin: bottom left;
    }
}
.h6.page-links.current-page a{
    border-bottom: 2.5px solid $accent;
    &:after {
        transform: scale3d(1, 1, 1);
        background-color: $accent;
    }
}

.display-flex{
    display: flex;
}

.dash_colour {
    @include pseudo-line( $line_before_color, $line_before_height, $line_before_length, 0 );
}

body {
    overflow-x: hidden !important;

}

//Text Link
.text-link a{
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
      
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2.5px;
        bottom: -2.5px;
        left: 0;
        background-color: $accent;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover:after {
        transform: scale3d(1, 1, 1);
        transform-origin: bottom left;
      }

}

//Text Link
a.text-link{
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
      
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2.5px;
        bottom: -2.5px;
        left: 0;
        background-color: $accent;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    &:hover:after {
        height: 2.5px;
        // transform: scaleX(1);
        transform: scale3d(1, 1, 1);
        transform-origin: bottom left;
    }

}

a.white-text{
    color: $white;
}

.list-none{
    list-style: none;
    padding-left: 0;
}
.museum-swiper {
    .swiper {
        overflow: visible !important;
    
        .swiper-slide {
            opacity: 0.5;
            padding-top: 4%;
            width: 80%;
            height: 600px;
            width: auto;
            span {
                max-height: 80%;
                // top: 10%;
                
            }
            &:not(.swiper-slide-active) {
                span {
                    top: 10% !important;
                }
            }
            img {
                padding-top: 20px;
                padding-bottom: 20px;
                object-fit: cover;
            }    
        }
        .swiper-slide-active {
            opacity: 1;
            padding-top: 0;
            span {
                max-height: 100%;
            }   
        }
        
        .swiper-pagination {
            bottom: -20px;
            
            .swiper-pagination-bullet {
                width: 30px;
                height: 4px;
                border-radius: 4px;
                
            }
            
            .swiper-pagination-bullet-active {
                width: 80px;
                background-color: $white;
                ::selection {
                    background-color: $accent-7;
                    color: $primary;
                }
            }
        }
    }
}

.wrapper-noon-group{

    .swiper{

        overflow: visible !important;

        .swiper-scrollbar{

            margin-bottom: -20px;
            border-radius: 0;

            .swiper-scrollbar-drag{
                border-radius: 0;
                background: $accent !important;
            }

        }

    }
    &.primary-100 {
        ::selection {
            background-color: $primary-5;
            color: $primary;
        }
        *[class^='CoreImageBlock_div'] {
            ::selection {
                background-color: $accent !important;
                color: $primary !important;
            }
        }
    }
}

.accent-100, .primary-95, .primary-65 {
    .accordion-body {
        p {
            color: $white !important;
        }
    }
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
}

//large intro - about page
.intro-lg{
    h1{
        text-align: center;
        color: $accent;
    }
    p {
        margin: auto;
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        max-width: 675px;
        line-height: 1.4;
        color: $primary;
        
        @include media-breakpoint-down(md) {
            font-size: 1.4rem;
        }
    }
}

//nav menu coming soon
.coming-soon{
    font-size: 1.5rem;
    color: $white
}

//disable nav item
.nav-disabled{
    pointer-events: auto;
    cursor: not-allowed;
}

//display none
.hide{
    display: none;
}

@import "colours";
@import "grid/container";
