.cd-main {
    overflow: hidden;
}

.cd-main__content, .overflow-hidden {
    position: relative;
    z-index: 2;
    background-color: $white;

    will-change: transform;
    transition: transform 0.7s cubic-bezier(.91,.01,.6,.99);
}
  
.nav_is_open .cd-main__content, .nav_is_open .overflow-hidden {
    transform: translateX(-100%);
}

body.nav_is_open { 
    overflow: hidden
}
  
.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $primary;
    visibility: hidden;
    transition: visibility 0.7s;
    width: 100vw;
    overflow-y: auto;
    a {
        text-decoration: none;
    }
}
  
.menu__title {
    position: relative;
    font-size: var(--text-xs);
    font-weight: 600;
    color: $white70;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  
    &::after { // bottom separation line
        content: '';
        position: absolute;
        left: 0;
        bottom: -20px;
        height: 1px;
        width: 60px;
        background-color: currentColor;
    }
}
  
.nav_is_open .menu {
    visibility: visible;
}
  
.menu__content { // all navigation content
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: var(--space-lg) 0 var(--space-lg) 80px;

    will-change: transform;  
    transform: translateX(-50%);
    transition: transform 0.7s cubic-bezier(.86,.01,.77,.78);

    @include media-breakpoint-up(md) {
        padding-left: 0;
    }
}
  
.nav_is_open .menu__content {
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(.82,.01,.77,.78);
}
  
.menu__primary {
    margin-top: 20vh;
    padding-left: 0;

    li {
        margin-bottom: var(--space-md);
        padding-bottom: 0.85rem;
    }
}
  
.menu__link {
    font-size: var(--text-lg);
    color: $white70;

    @include media-breakpoint-up(lg) {
        font-size: var(--text-xxl);
    }
}

    .menu__link:hover{
        color: $white70;
    }

    .menu__link:active{
        color: $white;
    }
    
    .menu__content {
    overflow-x: hidden !important;
    display: block;
    align-items: center;
    .container {
        display: block;
        height: calc(100%);
        @media (max-height: 650px) {
            height: auto;
        }
        
        .row {
            .col-12 {
                    .menu__primary {
                        .menu__link {
                            font-size: 2.5rem;
                            line-height: 1.2;
                            @include media-breakpoint-up(md) {
                                font-size: 3.5rem;
                            }
                            @include pseudo-line( $line_before_color, $line_before_height, 0, 0 );
                            &:hover, &:focus {
                                @include pseudo-line( $line_before_color, $line_before_height, 32px, 16px );
                            }
                        }
                    }
                
            }
        }
    }
    
    .contact_banner {
        ::selection {
            background-color: $primary-5;
            color: $primary;
        }
        display: block;
        width: 100%;
        margin: auto;
        padding-bottom: 20px;
        padding-top: 20px;
        z-index: 2 !important;
        overflow: visible;
        position: absolute;
        bottom: 25px;
        
        .container {
            
            display: block;
            height: 100%;

        }

        .col_phone {

            display: block;

            a {
                
                // display: block;
                width: 100%;
                color: $white;

            }
        }

        a.email, a.phone {

            position: relative;
            color: $white;
            font-weight: $fw-medium;
            font-size: 22px;
            font-size: 1.375rem;
            letter-spacing: 0.55px;
            text-decoration: none;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX( 0 );
                height: 2.5px;
                bottom: -2.5px;
                left: 0;
                background-color: $accent-80;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }
              
            &:hover:after {
                transform: scaleX( 1 );
                transform-origin: bottom left;
                opacity: 1;
            }              
        }

        h4{

            font-size: 12px;
            font-size: 0.75rem;
            text-transform: uppercase;
            margin-bottom: 2px;
            font-weight: $fw-light;
            letter-spacing: 0.6px;

        }
        .col_email {
            @include media-breakpoint-down(lg) {
                margin-bottom: 0.5rem;
            }
            h4 {
                color: $white;
            }
            .col_email__link {
                color: rgba($color: $white, $alpha: .7);
                &:focus, &:hover {
                    color: $white !important;
                }
            }
        }
        .col_phone {
            @include media-breakpoint-down(lg) {
                margin-bottom: 0.5rem;
            }
            h4 {
                color: $white;
            }
            .col_phone_wrapper {
                .col_phone__link {
                    color: rgba($color: $white, $alpha: .7);
                    &:focus, &:hover {
                        color: $white !important;
                    }
                }
            }
        }
        .col_cta {
            @include media-breakpoint-down(lg) {
                margin-bottom: 0.5rem;
            }
            h4 {
                color: $white;
            }
            .col_cta_wrapper {
                a {
                    display: block;
                }
            }
        }
        &::after {
            content: "";
            color: $accent;
            height: 100px;
            width: 100px;
        }
    }
}
  
.menu__contact {
    margin-top: var(--space-xl);

    li {
        margin-bottom: var(--space-md);
        color: $white70;
    }

    a {
        color: $white;
    }

    @include media-breakpoint-up(md) {
        text-align: right;
    }

    @include media-breakpoint-up(md) {
        margin-top: calc(var(--space-xl) + 20px);
    }
}
  
  
.menu-trigger {
    float: right;
    pointer-events: auto !important;
    z-index: 3;
    height: 54px;
    width: 54px;
    background-color: $primary;
    border: none;
    color: $primary;
    border-radius: 50%;
    transition: transform 0.5s;
    padding: 0 !important;
    transform: rotate(180deg); // stops the arrow rotating incorrectly

    &:hover{
        background-color: $primary-95;
        transition: ease-in-out 0.5s;
    }
  
    &:active .menu-trigger__icon {
        transform: scale(0.9);
    }
  
    svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
  
    circle {
        stroke: $primary-65;
        transition: stroke-dashoffset 0.4s; // circle border animation
    }
  
    @include media-breakpoint-up(lg) {
        // top: 40px;
    }
}
  
.nav_is_open .menu-trigger {
    transform: rotate(180deg); // rotate trigger when navigation becomes visible
  
    circle {
        stroke-dashoffset: 0; // animate circle stroke
        transition: stroke-dashoffset 0.4s 0.3s;
    }
}
  
.menu-trigger__icon { // menu icon created in CSS
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 11px);
    width: 22px;
    height: 2px;
    background-color: $white;
    transition: transform 0.3s;
  
    &::before, &:after { // upper and lower lines of the menu icon
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%; 
        background-color: inherit;
        will-change: transform, width, top;
        backface-visibility: hidden;
        transition: transform 0.5s, width 0.5s, top .3s;
    }
  
    &::before {
        transform-origin: right top;
        transform: translateY(-6px);
    }
  
    &::after {
        transform-origin: right bottom;
        transform: translateY(6px);
    }
}
  
.nav_is_open .menu-trigger__icon::before,
.nav_is_open .menu-trigger__icon::after { // animate arrow --> from menu to arrow
    width: 50%;
}
  
.nav_is_open .menu-trigger__icon::before {
    transform: rotate(45deg);
}
  
.nav_is_open .menu-trigger__icon::after {
    transform: rotate(-45deg);
}
  
.nav_is_open .menu-trigger:hover .menu-trigger__icon::before,
.nav_is_open .menu-trigger:hover .menu-trigger__icon::after {
    top: 0;
}
  
.cd-article-link {
    color: $primary;
    font-size: var(--text-sm);
    transition: opacity .2s;
  
    &:hover {
        opacity: 0.8;
    }
}

.nav_is_open{

    .noon_logo {

        opacity: 1 !important;
        transition-delay: 0.5s;
        
    }

}
