@import "../../lib/scss/variables";

.menu_item{

    @include pseudo-line( $line_before_color, $line_before_height, 0, 0 );
    
    &:hover {

        @include pseudo-line( $line_before_color, $line_before_height, 16px, 8px );

    }
}

.active{

    font-weight: $fw-bold !important;
    color: $accent;

  //  @include pseudo-line( $line_before_color, $line_before_height, $short_line_before_length, 24px ); ADDS LINE BEFORE ACTIVE ITEM
}

footer {
    .active {
        color: $white !important;   
    }
}

.large{
    font-size: 2rem;

    @include media-breakpoint-up(md) {

        font-size: 50px;
        font-size: 3.125rem;
        
    }

}

.standard{

    font-size: 1.5rem;

    @include media-breakpoint-up(md) {

        font-size: 2rem;
        
    }

}