@import 'lib/scss/_variables.scss';

.wrapper {
    background-color: rgba($color: $white, $alpha: 1);
    .content {
   
        .col-full {
            padding-left: 0;
            padding-right: 0;
            margin-left: calc(-100vw / 2 + 100% / 2);
            margin-right: calc(-100vw / 2 + 100% / 2);
            max-width: 100vw;
            width: 100vw;
            flex: 100vw;
            overflow-x:hidden
        }   

        .image-side {
            padding: 0;
            position: relative;
            height: 300px;
            object-fit: cover;
            img {
                display: block;
                object-fit: cover;
                width: 100%;
                min-height: 100%;
                @include media-breakpoint-down(md) {
                    max-height: 10rem;
                }
            }
        }

        .text-side {
            color: $primary;
            display: flex;
            align-items: center;
            height: 300px !important;

                max-width: 450px;
                margin-right: 14rem;
                margin-left: auto;
                @include media-breakpoint-down(xxl) { 
                    margin-right: 5rem;
                    
                }
                @include media-breakpoint-down(xl) { 
                    margin-right: auto;
                    max-width: 880px;
                }
                @include media-breakpoint-down(lg) { 
                    margin-left: auto;
                    max-width: 640px;
                }
                @include media-breakpoint-down(md) { 
                    max-width: 460px; 
                    margin: 0 auto;
                }
                @include media-breakpoint-down(sm) {
                    margin-left: 2.5rem;
                    margin-right: 2.5rem;
                }

            h2 {
                @include media-breakpoint-down(md) {
                    line-height: 1.5rem;
                    margin-bottom: 1.5rem;
                    margin-top: 1rem;
                }
            }
            h4 {
                line-height: 2rem;
                margin-bottom: 2rem;
                @include media-breakpoint-down(md) {
                    line-height: 1.5rem;
                    margin-bottom: 1.5rem;
                }
            }
            p {
                line-height: 2rem;
                color: $primary;
                font-weight: 300;
                @include media-breakpoint-down(md) {
                    line-height: 1.5rem;
                    margin-bottom: 1.5rem;
                }
            }
            a {
                text-decoration: none;
                &:link {
                    text-decoration: none;
                }
                &:visited {
                    text-decoration: none;
                }
                &:hover {
                    text-decoration: none;
                }
                &:active {
                    text-decoration: none;
                }
            }
        }

        .menu-box {
            margin-top: 30px;
            margin-bottom: 30px;
            padding-left: 3rem;
            @include media-breakpoint-down(lg) {
                margin: 30px auto;
                width: 100%;
                max-width: 540px;
                padding-left: 1.5rem;
                padding-right: 2.5rem;
            }
            @include media-breakpoint-down(md) {
                margin: 30px auto;
                width: 100%;
                max-width: 540px;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }

        }
        .dash_colour {
            @include pseudo-line( $line_before_color, $line_before_height, $line_before_length, 0 );
        }

    }

}