@import 'lib/scss/_variables.scss';

.wrapper-404{

    background-color:$primary;
    color: $white;
    height: 100vh;

    .container{

        height: 100%;

        .row{

            height: 100%;
            align-items: center;
            justify-content: center;

            .col-404{

                max-width: 570px;

                h1 {
                
                    font-size: 3.375rem;
                    line-height: 1;

                    span{

                        display: block;
                        font-size: 1.2rem;
                        margin-bottom: 1rem;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        color: $primary-5;

                        &::before{

                            color: $accent;
                            content: ' – ';


                        }
                        

                    }


                }

                p.intro{

                    font-weight: $fw-light;
                    color: $primary-65;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;

                }

            }

        }

    }


}