@import '../../../lib/scss/variables';

.website_container{

    display: block;
    -webkit-box-shadow: 7px 7px 10px 0px rgb(52 51 50 / 35%);
    -moz-box-shadow: 7px 7px 10px 0px rgba(52, 51, 50, 0.35);
    box-shadow: 7px 7px 10px 0px rgb(52 51 50 / 35%);
    position: relative;

    margin: 5rem auto;
    max-width: 1110px;
    height: auto;

    span{
        display: block !important;
    }

    .website-height{

        height: 600px;
        overflow: scroll;

        .image-wrap{
            display: block;
            max-width: 100%;
            position: relative;

            .overlay{
                background-color: rgba(52, 51, 50, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: #ffffff;
                opacity: 1;
                transition: opacity .5s ease;
                cursor: all-scroll;
            }

            &:hover{

                .overlay{
                    opacity: 0;
                }
            }
        }
    }
}

.section{

    background-color: $primary-65;

}

.mouse_body{

    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 32px;
    margin-top: 25% !important;
    height: 45px;
    width: 28px;
    margin: 0 auto;

    .mouse_wheel{
            
        border-style: solid;
        border-width: 2px;
        border-color: #ffffff;
        border-radius: 8px;
        background-color: #ffffff;
        position: relative;
        height: 3px;
        width: 3px;
        margin: 0 auto;
        animation: wheel_animation 1.5s linear infinite;

    }

}
@keyframes wheel_animation {
    0% {
      opacity: 0;
      top: 2px; }
    50% {
      opacity: 1;
      top: 50%; }
    100% {
      opacity: 0;
      top: 33px; } 
}
