@import 'lib/scss/_variables.scss';

.wrapper {
    background-color: $primary;
    ::selection {
        background-color: $primary-5;
        color: $primary;
    }
    .content {
    
        .col-full {
            padding-left: 0;
            padding-right: 0;
            margin-left: calc(-100vw / 2 + 100% / 2);
            margin-right: calc(-100vw / 2 + 100% / 2);
            max-width: 100vw;
            width: 100vw;
            flex: 100vw;
            overflow-x:hidden
        }   

        .image-side {

            position: relative;
            padding: 0;

            min-height: 200px;

            @include media-breakpoint-up(md) {
                min-height: 400px;
            }

            img {
                // display: block;
                object-fit: cover;
                // width: 100%;
                // min-height: 100%;
                @include media-breakpoint-down(md) {
                    max-height: 10rem;
                }
            }
        }

        .text-side {
            color: $white;
            display: flex;
            align-items: center;
            p {
                line-height: 2rem;
                
                color: $white;
                font-weight: 700;
                @include media-breakpoint-down(md) {
                    line-height: 1.5rem;
                    margin-bottom: 1.5rem;
                }
            }
            a {
                color: rgba($color: $white, $alpha: 1);
                text-decoration: none;
                &:link, &:active,  &:hover, &:visited {
                    text-decoration: none;
                    color: rgba($color: $white, $alpha: 1);
                }
            }
        }

        .menu-box {
            padding-left: 3rem;
            padding-right: 3rem;
            max-width: 650px;

            @include media-breakpoint-down(lg) {
                width: 100%;
                max-width: 540px;
                padding-left: 1.5rem;
                padding-right: 2.5rem;
            }

            @include media-breakpoint-down(md) {
                margin: 4rem auto;
                width: 100%;
                max-width: 540px;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }
        }
    }
}