.opacity-overlay{
    position: relative;
}


.image-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 40px;
    margin-left: 40px;
    height: 100%;
    opacity: 0;
    transition: .75s ease;
    background-color: #343332;
    cursor: pointer;
}

.image-overlay-text{
    color: #ffffff;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.opacity-overlay:hover .image-overlay {
    opacity: .9; 
}
  